<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Created by:</strong>
  <%= link_to @project.user.name, @project.user %>
</p>


<p>
  <strong>Total funding:</strong>
  <%= @project.total_funding %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
