<!DOCTYPE html>
<html>
<head>
  <title>Fundme</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
<% if current_user.present? %>
Signed in as <%= current_user.name %>
<% else %>
<%= form_for(:session, url: login_path, method: :post) do |f| %>
  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<% end %>
</header>
<%= yield %>

</body>
</html>
